<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAUA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREQAAEREAABERAAAREQAAEREAABERAAAREQAAEREREQAAEREAABERAAAREQAAEREAABERAAAREQAAEREAAAAAEREAABERAAAREQAAEREAABERAAAREQAAEREAABEREREAABERAAAREQAAEREAABERAAAREQAAEREAABERAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    <div class = "site_logo"> <img src="{{ url_for('static', filename='assets/images/PGN4people_alphabetic_logo.png') }}" alt="pgn4people alphabetic logo: Easier navigation of complex chess games and repertoires." /></div>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar">
            <li class="navbar-item navbar-item-about">
                <a class="navbar-anchor" href="/about">About pgn4people</a>
            </li>
            <li class="navbar-item navbar-item-node">
                <a class="navbar-anchor" href="/node/0">Play around with pgn4people!</a>
            </li>
            <li class="navbar-item navbar-item-pgn">
                <a class="navbar-anchor" href="/dump_pgn">See the raw built-in PGN</a>
            </li>
            <li class="navbar-item navbar-item-report">
                <a class="navbar-anchor" href="/report">Statistics about the included PGN</a>
            </li>
        </ul>
    </nav>



    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div> 
        {% endif %}
    {% endwith %}


    {% block body_content %}
    {% endblock %}

    <div class="site-footer">
       <p><a class="site-footer"  href="https://github.com/jimratliff/pgn4people-poc">pgn4people at GitHub</a></p>
    </div>
    
</body>
</html>