<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title -->
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <!-- Favicon -->
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAUA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREQAAEREAABERAAAREQAAEREAABERAAAREQAAEREREQAAEREAABERAAAREQAAEREAABERAAAREQAAEREAAAAAEREAABERAAAREQAAEREAABERAAAREQAAEREAABEREREAABERAAAREQAAEREAABERAAAREQAAEREAABERAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 

    <!-- Block in header for additional insertions  -->
    {% block additional_header_specification %}{% endblock additional_header_specification %}

    <div class = "site_logo"> <a href="/" class="site-logo"><img src="{{ url_for('static', filename='assets/images/PGN4people_alphabetic_logo.png') }}" alt="pgn4people alphabetic logo: Easier navigation of complex chess games and repertoires." /></a></div>
</head>
<body id="pgn4people-project">
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar">
            <li class="navbar-item navbar-item-about">
                <a class="navbar-anchor" href="/about">About pgn4people</a>
            </li>
            <li class="navbar-item navbar-item-node">
                <a class="navbar-anchor" href="/node/0/0">Play around with pgn4people!</a>
            </li>
            <li class="navbar-item navbar-item-pgn">
                <a class="navbar-anchor" href="/dump_pgn">See the raw built-in PGN</a>
            </li>
            <li class="navbar-item navbar-item-report">
                <a class="navbar-anchor" href="/report">Statistics about the included PGN</a>
            </li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div> 
        {% endif %}
    {% endwith %}


    {% block body_content %}
    {% endblock %}

    <div class="site-footer">
       <p><a class="site-footer"  href="https://github.com/jimratliff/pgn4people-poc">pgn4people at GitHub</a></p>
       <!-- <p>Powered by: <a class="site-footer"  href="https://www.pythonanywhere.com">pythonanywhere</a></p> -->
        <div class="footer-poweredby-python-anywhere">
            <a href="https://www.pythonanywhere.com"><span>Powered by:&nbsp; <img src="https://www.pythonanywhere.com/static/anywhere/images/PA-logo.svg" alt="pythonanywhere logo" style="height:2em"></a></span></a>
        </div>
    </div>
</body>
</html>